html 
    head
        title List Users
    body 
        h1 User Listings
        a(href=`/createUser` ) Create User
        a(href=`/userListing`) User Listings
        a(href='/search') Search

        p Sort Options 
        span First Name
        a(href=`/userListing/firstName/asc`) Ascending
        a(href=`/userListing/firstName/desc`) Descending 
        br
        span Last Name
        a(href=`/userListing/lastName/asc`) Ascending
        a(href=`/userListing/lastName/desc`) Descending
        br
        span Age
        a(href=`/userListing/age/asc`) Ascending
        a(href=`/userListing/age/desc`) Descending
        
        table  
            tr 
                th First Name
                th Last Name
                th Email 
                th Age
            each entry in userArray 
                tr
                    td= entry.first_name
                    td= entry.last_name
                    td= entry.email
                    td= entry.age
                    td  
                        form(action=`/editUser/${entry.id}` method="get") 
                            input(type="submit" value="Edit")
                    td  
                        form(action=`/deleteUser/${entry.id}` method='post')
                            input(type='submit' value="Delete")

                    
                
