html 
    head
        title Search Results
    body 
        h1 Search Results
        a(href=`/createUser` ) Create User
        a(href=`/userListing`) User Listings
        a(href='/search') Search
        
        table  
            tr 
                th First Name
                th Last Name
                th Email 
                th Age
            each entry in userArray 
                tr
                    td= entry.firstName
                    td= entry.lastName
                    td= entry.email
                    td= entry.age
                    td  
                        form(action=`/editUser/${entry._id}` method="get") 
                            input(type="submit" value="Edit")
                    td  
                        form(action=`/deleteUser/${entry._id}` method='post')
                            input(type='submit' value="Delete")

                    
                
